doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  header
      div.header
        h1.title Members Only (Like the jacket)
        div.links
          a(href='/').link Home
          if currentUser 
              h5.user Hi, #{currentUser.first_name}.
              a(href='/logout').link Log out
              if currentUser.member
                a(href='/message/new').link Create post
              else 
                a(href='/confirm').link Activate membership
          else 
            a(href='/login').link Log in
            a(href='/sign-up').link Sign up
  body
    block content
