extends layout 
block content

  form(method='POST' action='').form
    h2.title=title
    if errors 
    ul 
      each error in errors 
        li.error=error.msg
    input#title(type='text' name='title' placeholder='Title' value=(message===undefined ? '' : message.title))
    textarea#body(name='body' placeholder='What have you got to say?') #{message===undefined ? '' : message.body}
    button(type='submit') Create message