extends layout 
block content 
  h1=title

  form(method='POST' action='').message-form
    input#title(type='text' name='title' placeholder='Title')
    textarea#body(name='body' placeholder='What have you got to say?')
    button(type='submit') Create message